<%- include('../../partials/Header.ejs') %>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('../../partials/SideBar.ejs') %>

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <%- include('../../partials/Navbar.ejs') %>

                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <%- include('../../partials/Message.ejs') %>
                                    <!-- Page Heading -->
                                    <h1 class="h3 mb-4 text-gray-800">Item Wisata</h1>
                                    <% if(action=='view' ) { %>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                    href="#show-item" role="tab" aria-controls="home"
                                                    aria-selected="true">Show Item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#add-item"
                                                    role="tab" aria-controls="profile" aria-selected="false">Add
                                                    Item</a>
                                            </li>

                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <%- include('show_table_item.ejs') %>
                                                <%- include('add_item.ejs') %>
                                        </div>

                                        <% } else if(action=='show image' ) { %>
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                        href="#show-image" role="tab" aria-controls="home"
                                                        aria-selected="true">Show Image</a>
                                                </li>

                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                                <%- include('show_image_item.ejs') %>
                                            </div>
                                            <% }else{%>
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                            href="#edit-item" role="tab" aria-controls="home"
                                                            aria-selected="true">Edit Item</a>
                                                    </li>

                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <%- include('edit_item.ejs') %>
                                                </div>
                                                <% } %>

                                                    <!-- /.container-fluid -->
                            </div>
                            <!-- End of Main Content -->
                    </div>
                    <!-- End of Content Wrapper -->
                    <%-include('.. /../partials/Footer.ejs') %>
                </div>
                <!-- End of Page Wrapper -->

                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Apakah Ingin Keluar Dari Aplikasi.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="/admin/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../../partials/js.ejs') %>
                    <script>
                        CKEDITOR.replace('about');
                    </script>
    </body>

    </html>